<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.module_client1.mapper.RoleMapper">
    <select id="selectRoleByUserId" parameterType="int" resultType="com.example.module_client1.entity.Role">
        select * from role where id in (select roleId from user_role  where userId = #{userId})
    </select>

    <select id="selectUrlByRoleId" parameterType="int" resultType="com.example.module_client1.entity.Url">
        select * from url where id in (select urlId from role_url  where roleId = #{roleId})
    </select>

    <select id="selectRoleByName" parameterType="String" resultType="com.example.module_client1.entity.Role">
        select * from role where roleName = #{roleName}
    </select>
</mapper>